table{
    border-collapse: collapse;
    border-color: rgb(255, 255, 255);
}
td{
    text-align: center;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.date{
    background-color: rgb(197,148,197);
    color: white;
    font-family: sans-serif;
    width: 150px;
    height: 50px;
}


